//General
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

// Navbar
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-item.is-mega {
    position: static;
  
    .is-mega-menu-title {
      margin-bottom: 0;
      padding: .375rem 1rem;
    }
}

// Hero
.hero {
    min-height: 666px;
    background: url('/images/radio-wallpaper.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    .content {
        display: block;
        text-align: center;
        margin: auto;
        padding: 2.5%;

        h1 {
            font-weight: 420;
            font-size: 60px;
            color: #FFBE64;
            text-shadow: 1px 1px 1px #442F13;
        }
        p {
            font-weight: 300;
            font-size: 40px;
            color: lighten(#FFBE64, 25%);
            text-shadow: 1px 1px 1px #442F13;
        }

        .cta-entrevistas {
            background-color: cornflowerblue;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            -moz-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;
            transition: all .2s ease-in;
            cursor: pointer;

            &:hover {
                background-color: lighten(cornflowerblue, 15%);
                color: mix(white, darken(cornflowerblue, 25%), 25%);
            }
        }
    }
}

// Interviews
.feature-interview {
    margin: 0;
    padding: 1% 10%;
    background: $bg;
    text-align: center;
    
    p {
        padding: 0% 8%;
        text-align: left;
    }
}

.interview-list {
    background: url('/images/radio-effects-wallpaper.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    .columns {
        padding: 1%;
        text-align: center;
    }
}

iframe, object, embed {
    max-width: 100%;
}

// Footer
.footer {
    padding: 1%;
    background-color: #efefef;
    text-align: center;
    
    .copyright {
        font-size: 13px;
    }

    .blueberrygroup {
        font-size: 11px;

        span {
        color: #0041C2;
        }
    }
}