
// Hero
.hero {
    min-height: 540px;
    background: url('https://wallpaperscraft.com/image/table_paper_pens_writing_67592_1920x1080.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// Navbar
.navbar-item.is-mega {
    position: static;
  
    .is-mega-menu-title {
      margin-bottom: 0;
      padding: .375rem 1rem;
    }
}
